* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content:center;
  align-items:center;
  margin:10px 0;
  background-color: #dee1e9;
  font-family: arial !important;
  /* line-height:0.5 */
}
